                <section class="content-header">
                    <h1 ng-show="!isFormMode">
                        Tenant Management
                    </h1>
                    <h1 ng-show="isFormMode">
                        Create Tenant
                    </h1>
                    <ol class="breadcrumb" ng-show="!isFormMode">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Tenant Management</li>
                    </ol>
                    <ol class="breadcrumb" ng-show="isFormMode">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#"><i class="fa fa-dashboard"></i> Tenant Management</a></li>
                        <li class="active">Create Tenant</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
   
                     <div ng-show="!isFormMode">
                          <button class="btn btn-info" ng-click="createNew()">Add new</button>
  
                     </div>
                    <table class="table table-striped" ng-show="!isFormMode">
                      <thead>
                           <tr>
                             <th>Id</th>
                             <th>Name</th>
                             <th>Tenant String</th>
                             <th>Logo URL</th>
                             <th>Enable</th>
                           </tr>
                      </thead>
                      <tbody ng-repeat="tenant in Tenants">
                           <tr>
                              <td> <span>{{tenant.id}}</span></td>
                              <td> <span>{{tenant.name}}</span></td>
                              <td> <span>{{tenant.tenantString}}</span></td>
                              <td> <span>{{tenant.logoUrl}}</span></td>
                              <td> <span>{{tenant.enable}}</span></td>
                              <td> <span><button class="btn btn-warning" ng-click="edit(tenant.id)">Edit</button></span></td>
                              <td> <span><button class="btn btn-danger" ng-click="delete(tenant.id)">Delete</button></span></td>
                           </tr>
                     </tbody>
                   </table>

                    <form name="createTenant" method="get" action="" ng-show="isFormMode">
                        <div class="form-group">
                            <input type="text" class="form-control" id="tenantId" placeholder="Tenant ID" ng-model="tId">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tenantName" placeholder="Tenant Name" ng-model="tName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tenantString" placeholder="Tenant String" ng-model="tString">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="logo" placeholder="Logo URL" ng-model="tLogo">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="enable" placeholder="Enable" ng-model="tEnable">
                        </div>
                        <input type="button" class="btn btn-primary btn-lg" value="Cancel" ng-click="cancel();" />
                        <input type="submit" class="btn btn-success btn-lg" value="Next" ng-click="save();" />
                    </form>
                    {{Message}}
</section>

            