                <section class="content-header">
                    <h1 ng-show="!isFormMode">
                        Tenant Management
                    </h1>
                    <h1 ng-show="isNew">
                        Create Tenant
                    </h1>
                    <h1 ng-show="isEdit">
                        Edit Tenant
                    </h1>
                    <ol class="breadcrumb" ng-show="!isFormMode">
                        <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#TenantManagement"><i class="fa fa-bookmark"></i>Tenant Management</li>
                    </ol>
                    <ol class="breadcrumb" ng-show="isNew">
                        <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#TenantManagement"><i class="fa fa-bookmark"></i> Tenant Management</a></li>
                        <li class="active">Create Tenant</li>
                    </ol>
                    <ol class="breadcrumb" ng-show="isEdit">
                        <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#TenantManagement"><i class="fa fa-bookmark"></i> Tenant Management</a></li>
                        <li class="active">Edit Tenant</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                     <div ng-show="!isFormMode">
                         <button class="btn btn-info" ng-click="createNew()">Create New Tenant</button>
                     </div>
                    <table class="table table-striped" ng-show="!isFormMode">
                      <thead>
                           <tr>
                             <th>Id</th>
                             <th>Logo</th>
                             <th>Name</th>
                             <th>Tenant String</th>
                             <th>Logo URL</th>
                             <th>Enable</th>
                           </tr>
                      </thead>
                      <tbody ng-repeat="tenant in Tenants">
                           <tr>
                              <td> <span>{{tenant.id}}</span></td>
                              <td><span><img src="{{tenant.logoUrl}}" style="height:35px;width:35px"/></span></td>
                              <td> <span>{{tenant.name}}</span></td>
                              <td> <span>{{tenant.tenantString}}</span></td>
                              <td> <span>{{tenant.logoUrl}}</span></td>
                              <td> <span>{{tenant.enable}}</span></td>
                              <td> <span><button class="btn btn-warning" ng-click="edit(tenant.id)">Edit</button></span></td>
                              <td> <span><button class="btn btn-danger" ng-click="delete(tenant.id)">Delete</button></span></td>
                           </tr>
                     </tbody>
                   </table>
                    <div class="alert alert-success alert-dismissable" ng-show="isCreated">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Successfully Created.
                    </div>
                    <div class="alert alert-success alert-dismissable" ng-show="isEdited">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Successfully Edited.
                    </div>
                    <div class="alert alert-success alert-dismissable" ng-show="isDeleted">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Successfully Deleted.
                    </div>
                    <form name="createTenant" method="get" action="" ng-show="isFormMode">
                        <div class="form-group" ng-class="{true: 'error'}[submitted && createTenant.tenantName.$invalid]">
                            <input type="text" class="form-control" id="tenantName" name="tenantName" placeholder="Tenant Name" ng-model="tName" autofocus required>
                            <p ng-show="createTenant.tenantName.$invalid && !createTenant.tenantName.$pristine" style="color:red;">Tenant name is required.</p>
                        </div>
                        <div class="form-group" ng-class="{true: 'error'}[submitted && createTenant.tenantString.$invalid]">
                            <input type="text" class="form-control" id="tenantString" name="tenantString" placeholder="Tenant String" ng-model="tString" required>
                            <p ng-show="createTenant.tenantString.$invalid && !createTenant.tenantString.$pristine" style="color:red;">Tenant string is required.</p>
                        </div>
                        <div class="form-group" ng-class="{true: 'error'}[submitted && createTenant.logo.$invalid]">
                            <input type="url" class="form-control" id="logo" name="logo" placeholder="Logo URL" ng-model="tLogo" required>
                            <p ng-show="createTenant.logo.$invalid && !createTenant.logo.$pristine" style="color:red;">Logo URL is required.</p>
                        </div>
                        <div class="form-group">
                            <input type="radio" id="enable" name="enable" value="true" ng-model="tEnable" ng-required="!tEnable"/>Enable
                            <input type="radio" id="enable" name="enable" value="false" ng-model="tEnable" style="margin-left:62px" ng-required="!tEnable" />Disable
                        </div>

                        <input type="submit" class="btn btn-success btn-lg" value="Next" ng-click="save();" ng-disabled="!createTenant.$valid" ng-show="isNew" />
                        <input type="submit" class="btn btn-success btn-lg" value="Submit" ng-click="save();" ng-disabled="!createTenant.$valid" ng-show="!isNew" />
                        <input type="button" class="btn btn-primary btn-lg" value="Cancel" ng-click="cancel();" />
                      
                    </form>
                    
               </section>

            




