<section class="content-header">
    <h1 ng-show="!isFormMode">
        User Management
    </h1>
    <h1 ng-show="isNew">
        Create User
    </h1>
    <h1 ng-show="isEdit">
        Edit User
    </h1>
    <ol class="breadcrumb" ng-show="!isFormMode">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Management</li>
    </ol>
    <ol class="breadcrumb" ng-show="isNew">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> User Management</a></li>
        <li class="active">Create User</li>
    </ol>
    <ol class="breadcrumb" ng-show="isEdit">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> User Management</a></li>
        <li class="active">Edit User</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div ng-show="!isFormMode">
        <button class="btn btn-info" ng-click="createNew()">Create New User</button>
    </div>
    <table class="table table-striped" ng-show="!isFormMode">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Logo URL</th>
                <th>Enable</th>
                <th>Role</th>
                <th>Tenant</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in Users">
            <tr>
                <td> <span>{{user.id}}</span></td>
                <td> <span>{{user.name}}</span></td>
                <td> <span>{{user.email}}</span></td>
                <td> <span>{{user.logoUrl}}</span></td>
                <td> <span>{{user.enable}}</span></td>
                <td> <span>{{user.role}}</span></td>
                <td> <span>{{user.tenant}}</span></td>
                <td> <span><button class="btn btn-warning" ng-click="edit(user.id)">Edit</button></span></td>
                <td> <span><button class="btn btn-danger" ng-click="delete(user.id)">Delete</button></span></td>
            </tr>
        </tbody>
    </table>
    <form role="form" name="createUser"  ng-show="isFormMode" onsubmit="return customValidate(this)">
        <div class="form-group" ng-class="{ 'has-error' : createUser.name.$invalid && !createUser.name.$pristine && submitted}">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="uName" required>
            <p ng-show="createUser.name.$invalid && !createUser.name.$pristine" style="color:red;">Name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.email.$invalid && !createUser.email.$pristine && submitted}">
            <input type="email" class="form-control" id="email" name="email" placeholder="Eamil" ng-model="uEmail" required>
            <p ng-show="createUser.email.$invalid && !createUser.email.$pristine" style="color:red;">Email is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.logo.$invalid && !createUser.logo.$pristine && submitted}">
            <input type="url" class="form-control" id="logo" name="logo" placeholder="Logo URL" ng-model="uLogo" required>
            <p ng-show="createUser.logo.$invalid && !createUser.logo.$pristine" style="color:red;">Logo URL is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.role.$invalid && !createUser.role.$pristine && submitted}">
            <select id="role" name="role" ng-model="uRole" class="form-control" required>
                <option value="0">Role</option>
                <option value="1">Administrator</option>
                <option value="2">User</option>
            </select>
            <p ng-show="createUser.role.$invalid && !createUser.role.$pristine" style="color:red;">Select a Role.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.tenant.$invalid && !createUser.tenant.$pristine && submitted}">
            <select id="tenant" name="tenant" ng-model="uTenant" class="form-control" required>
                <option value="0">Tenant</option>
                <option ng-repeat="tenant in Tenants" value={{tenant.id}}>{{tenant.name}}</option>
            </select>
            <p ng-show="createUser.tenant.$invalid && !createUser.tenant.$pristine" style="color:red;">Select a Tenant.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.username.$invalid && !createUser.username.$pristine && submitted}">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="username" required>
            <p ng-show="createUser.username.$invalid && !createUser.username.$pristine" style="color:red;">Username is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.password.$invalid && !createUser.password.$pristine && submitted}">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="uPassword" required>
            <p ng-show="createUser.password.$invalid && !createUser.password.$pristine" style="color:red;">Password is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.cPassword.$invalid && !createUser.cPassword.$pristine && submitted}">
            <input type="password" class="form-control" id="cPassword" name="cPassword" placeholder="Confirm Password" ng-model="cPassword" required>
            <p ng-show="createUser.cPassword.$invalid && !createUser.cPassword.$pristine" style="color:red;">Passwords are not matching.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createUser.enable.$invalid && !createUser.enable.$pristine && submitted}">
            <input type="text" class="form-control" id="enable" name="enable" placeholder="Enable" ng-model="uEnable" required>
            <p ng-show="createUser.enable.$invalid && !createUser.enable.$pristine" style="color:red;">Type true or false.</p>
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Cancel" ng-click="cancel();" />
        <input type="submit" class="btn btn-success btn-lg" value="Submit" ng-click="save();"/>
             
    </form>
    {{Message}}
</section><!-- /.content -->

<script>
    function customValidate(form) {
        if(form.role.value==0){
            window.alert("Please select a role");  
            return false;
        }
        if(form.tenant.value==0){
            window.alert("Please select a tenant");
            return false;
        }
        if ((form.password.value) != (form.cPassword.value)) {
            window.alert("The passwords you entered are not mathcing");
            return false;
        }
        if (!(((form.enable.value) == 'true') || ((form.enable.value) == 'false'))) {
            window.alert("Please type true or false for the enable option");
            return false;
        }
        return true;
    }
</script>