<section class="content-header">
    <h1>
        Modify Tenant
    </h1>
    <ol class="breadcrumb">
        <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#TenantManagement"><i class="fa fa-bookmark"></i> Tenant Management</a></li>
        <li class="active">Modify Tenant</li>
    </ol>
</section>

<section class="content">
    <div ng-show="!isLogged">
        <h3>Please Login to Continue</h3>
    </div>

    <div ng-show="isLogged">
         <form name="editTenant">
            <div class="form-group" ng-class="{true: 'error'}[submitted && editTenant.etenantName.$invalid]">
                <input type="text" class="form-control" id="etenantName" name="etenantName" placeholder="Tenant Name" ng-model="tenant.name" autofocus required>
                <p ng-show="editTenant.etenantName.$invalid && !editTenant.etenantName.$pristine" style="color:red;">Tenant name is required.</p>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && editTenant.etenantString.$invalid]">
                <input type="text" class="form-control" id="etenantString" name="etenantString" placeholder="Tenant String" ng-model="tenant.tenantString" ng-blur='checkEditSubdomainAvailable()' ng-focus="isTenantInUse = false" required>
                <p ng-show="editTenant.etenantString.$invalid && !editTenant.etenantString.$pristine" style="color:red;">Tenant string is required.</p>
                <p ng-show="isTenantInUse && tenant.tenantString" style="color:red;">Tenant is already in use.</p>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && editTenant.elogo.$invalid]">
                <input type="url" class="form-control" id="elogo" name="elogo" placeholder="Logo URL" ng-model="tenant.logoUrl" required>
                <p ng-show="editTenant.elogo.$invalid && !editTenant.elogo.$pristine" style="color:red;">Logo URL is required.</p>
            </div>
            <div class="form-group">
                <input type="radio" id="etenable" name="etenable" ng-value="true" ng-model="tenant.enable" ng-required="!etEnable" />Enable
                <input type="radio" id="etenable" name="etenable" ng-value="false" ng-model="tenant.enable" style="margin-left:62px" ng-required="!etEnable" />Disable
            </div>
            <input type="submit" class="btn btn-success btn-lg" value="Update" ng-click="update();" ng-disabled="!editTenant.$valid || isTenantInUse" />
            <input type="button" class="btn btn-danger btn-lg" value="Delete" ng-click="delete();"/>
            <input type="button" class="btn btn-primary btn-lg" value="Cancel" ng-click="goBack();" />
        </form>
    </div>
</section>
