
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Tenant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">



    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js" rel="script">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js" rel="script">
    <style>
        /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #bfccd9;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


    </style>
</head>
<body style="background-color: lightcyan;">
    <h1>Hello from @Model.Tenant</h1>
    <h2>Client Page</h2>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WINGS PLATFORM</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <img id="userLogo" style="height:50px;" />
                </form>


            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="">Profile</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Tenant Data</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Product Details</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Overview</h1>
                <div>
                    <p>This is a sample starter project</p>
                </div>
                <h3 class="sub-header" id="subHeader"></h3>
                <p id="userData"></p>
                <img id="imageLogo" style="height:200px; padding-left:378px;" />
                <input type="hidden" id="AccessToken" name="AccessToken" />

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Products</th>
                                <th>Product Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Camera</td>
                                <td>Camera Data</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Mobile</td>
                                <td>Mobile Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <form id="form1">
                <div>
                    Access Token<br />
                    <input id="AccessToken" name="AccessToken" />
                    <input id="Authorize" type="button" name="signin.AccessToken" value="Authorize" />
                    <br />
                    <input id="CallApi" name="submit.CallApi" value="Access Protected Resource API" type="button" />
                </div>
                <div id="output">
                </div>
            </form>

            <form id="ApiAccessForm">
                <input id="GetAllFromApi" name="submit.GetAllFromApi" value="Get Data" type="button" />
                <input id="GetOneFromApi" name="submit.GetOneFromApi" value="Get One" type="button" />
            </form>


        </div>
        </div>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script type="text/javascript">
        (function ($) {
            var authorizeUri = '@Model.authorizeUri';
            var tokenUri = '@Model.tokenUri';
            var apiUri = '@Model.apiUri';
            var returnUri = 'http://' + window.location.host + '/SignIn';
            var productApiUri = "http://localhost:48846/api/Products";
            var productOneUri = "http://localhost:48846/api/Products/1";

            $('#Authorize').click(function () {
                var nonce = 'my-nonce';

                var uri = addQueryString(authorizeUri, {
                    'client_id': '7890ab',
                    'redirect_uri': returnUri,
                    'state': nonce,
                    'scope': 'bio notes',
                    'response_type': 'token',
                    'tenant': '@Model.Tenant.Tenant.Name'
                });

                window.oauth = {};
                window.oauth.signin = function (data) {
                    if (data.state !== nonce) {
                        return;
                    }

                    $('#AccessToken').val(data.access_token);
                }

                //window.open(uri, '_self');
                window.open(uri, 'Authorize', 'width=640,height=760');

            });

            $('#GetOneFromApi').click(function () {
                $.ajax(productOneUri, {
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $('#AccessToken').val());
                    },
                    dataType: 'text',
                    type: "GET",
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        //alert(data);
                        $('#output').text(data);
                    },
                    statusCode: {
                        401: function () {
                            $('#output').text("Unauthorized.");
                        }
                    }
                });
            });

            $('#GetAllFromApi').click(function () {
                $.ajax(productApiUri, {
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $('#AccessToken').val());
                    },
                    dataType: 'text',
                    type: "GET",
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        //alert(data);
                        $('#output').text(data);
                    },
                    statusCode: {
                        401: function () {
                            $('#output').text("Unauthorized.");
                        }
                    }
                });
            });


            $('#CallApi').click(function () {
                $.ajax(apiUri, {
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $('#AccessToken').val());
                    },
                    dataType: 'text',
                    type: "GET",
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        //alert(data);
                        $('#output').text(data);
                    },
                    statusCode: {
                        401: function () {
                            $('#output').text("Unauthorized.");
                        }
                    }
                });
            });

            function addQueryString(uri, parameters) {
                var delimiter = (uri.indexOf('?') == -1) ? '?' : '&';
                for (var parameterName in parameters) {
                    var parameterValue = parameters[parameterName];
                    uri += delimiter + encodeURIComponent(parameterName) + '=' + encodeURIComponent(parameterValue);
                    delimiter = '&';
                }
                return uri;
            }
        })(jQuery);
    </script>








        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
        <script type="text/javascript">

            var authorizeUri = 'http://localhost:21681/OAuth/Authorize';
            var tokenUri = 'http://localhost:21681/OAuth/Token';
            var apiUri = 'http://localhost:48846/api/Me';
            var returnUri = 'http://localhost:50680/SignIn.html';
            var productApiUri = "http://localhost:48846/api/Products";
            var productOneUri = "http://localhost:48846/api/Products/1";

            var obj = '';
            var urlData = '';

            function addQueryString(uri, parameters) {
                var delimiter = (uri.indexOf('?') == -1) ? '?' : '&';
                for (var parameterName in parameters) {
                    var parameterValue = parameters[parameterName];
                    uri += delimiter + encodeURIComponent(parameterName) + '=' + encodeURIComponent(parameterValue);
                    delimiter = '&';
                }
                return uri;
            }

            jQuery(document).ready(function () {
                var nonce = 'my-nonce';

                var uri = addQueryString(authorizeUri, {
                    'client_id': '7890ab',
                    'redirect_uri': returnUri,
                    'state': nonce,
                    'scope': 'bio notes',
                    'response_type': 'token',
                    'tenant': 'Sony'
                });

                window.oauth = {};
                window.oauth.signin = function (data) {
                    if (data.state !== nonce) {
                        return;
                    }

                    $('#AccessToken').val(data.access_token);

                    $.ajax(apiUri, {
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + $('#AccessToken').val());
                        },
                        dataType: 'text',
                        type: "GET",
                        cache: false,
                        success: function (data) {
                            console.log(data);
                            obj = $.parseJSON(data)
                            $('#tokenUserName').text('Welcome ' + obj[0].Value);
                            $('#subHeader').text('Hi ' + obj[0].Value);
                            $('#userData').text('You are a ' + obj[1].Value + ' user');
                            loadImage();
                        },
                        statusCode: {
                            401: function () {
                                $('#output').text("Unauthorized.");
                            }
                        }


                    });
                }
                //window.open(uri, '_self');
                window.open(uri, 'Authorize', 'width=640,height=760');

                function loadImage() {
                    uri = 'http://localhost:44552/api/tenants/' + obj[1].Value + '/users/' + obj[0].Value;
                    $.ajax(uri, {
                        dataType: 'text',
                        type: "GET",
                        cache: false,
                        success: function (data) {
                            console.log(data);
                            urlData = $.parseJSON(data)
                            $('#imageLogo').attr('src', urlData.tenantLogoUrl);
                            $('#userLogo').attr('src', urlData.userLogoUrl);
                        },
                        statusCode: {
                            401: function () {
                                alert('unauthorized');
                            }
                        }
                    });
                };

            });

        </script>





</body>
</html>