    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#Profile"><i class="fa fa-user"></i>User Profile</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" >
        <div ng-show="!isLogged">
            <h3>Please Login to Continue</h3>
        </div>
        <div ng-show="isLogged">
            <img src="{{userImage}}" style="height:165px;margin-left:93px" />
            <table cellpadding="30" cellspacing="10" style="font-size:large">
                <tr>
                    <th>Name</th>
                    <td>{{fullName}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{role}}</td>
                </tr>
            </table>
        </div>
</section><!-- /.content -->

