
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<div id="whereControl">
    <form class="row">
        <fieldset>
            <legend>Say Where</legend>
            <label for="latitude">Latitude:</label>
            <input id="latitude" type="text" ng-model="latitude">
            <label for="longitude">Longitude:</label>
            <input id="longitude" type="text" ng-model="longitude">
        </fieldset>
    </form>
</div>