﻿@using System
@using System.Linq
@using System.Security.Claims
@using System.Web
@using Microsoft.Owin.Security
@{
    var authentication = Context.GetOwinContext().Authentication;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/authserver.css" rel="stylesheet" />
</head>
<body>
    <form method="POST">
        <div class="container">
            <div class="row login_box">
                <div class="col-md-12 col-xs-12" align="center">
                    <div class="outter"><img src="~/Images/Tenants/Logo/sony-logo.jpg" class="image-circle" /></div>
                    <h1>Hi Guest</h1>
                    <span>Please Sign In</span>
                </div>

                <div class="col-md-12 col-xs-12 login_control">

                    <div class="control">
                        <div class="label">User Name</div>
                        <input type="text" class="form-control" id="username" name="username" />
                    </div>

                    <div class="control">
                        <div class="label">Password</div>
                        <input type="password" class="form-control" id="password" name="password" />
                    </div>
                    <div align="center">
                        <input type="submit" class="btn btn-orange" name="submit.Signin" value="Sign In" />
                    </div>

                </div>

            </div>
        </div>
    </form>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
