﻿@using System
@using System.Linq
@using System.Security.Claims
@using System.Web
@using Microsoft.Owin.Security
@using System.Web.Mvc

@{
    var authentication = Context.GetOwinContext().Authentication;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/authserver.css" rel="stylesheet" />
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/index.html" class="navbar-brand">99X Product Suite</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Help">Help</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">

        <br />

        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <div class="outter"><img src="@ViewBag.TenantLogoUrl" class="image-circle" /></div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="well bs-component">
                        <form class="form-horizontal" method="POST">
                            <fieldset>
                                <legend>Hi Guest, Please sign in</legend>
                                <div class="form-group">
                                    <label for="username" class="col-lg-2 control-label">User Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                        @*<div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember Me
                                            </label>
                                        </div>*@
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="reset" class="btn btn-default">Cancel</button>
                                        @*<button type="submit" class="btn btn-primary" name="submit.Signin">Sign In</button>*@
                                        <input type="submit" class="btn btn-primary" name="submit.Signin" value="Sign In" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <br />


        <footer>
            <div class="row">
                <div class="col-lg-12">

                    <p>Token Server is a part of <a href="http://www.99xtechnology.com" rel="nofollow">99X Product Suite</a>. Developed by <a href="http://www.99xtechnology.com" rel="nofollow">99X Technology</a>.</p>

                </div>
            </div>

        </footer>

    </div>

    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
