<div>
    <br />
    <h2 ng-show="!isLogged">Please Login to Continue</h2>
    <h2 ng-show="!isAdmin && isLogged">You do not have permission to access data</h2>
    
    <div ng-show="isAdmin">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="forms">Edit User</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="well bs-component">
                        <form name="viewUser" class="form-horizontal">
                            <fieldset>

                                <div class="form-group">
                                    <div class="col-lg-10" ng-class="{true: 'error'}[submitted && viewUser.name.$invalid]">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="user.name" autofocus required>
                                        <p ng-show="viewUser.name.$invalid && !viewUser.name.$pristine" style="color:red;">Name is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10" ng-class="{true: 'error'}[submitted && viewUser.email.$invalid]">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="user.email" required>
                                        <p ng-show="viewUser.email.$invalid && !viewUser.email.$pristine" style="color:red;">Email is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10" ng-class="{true: 'error'}[submitted && viewUser.logo.$invalid]">
                                        <input type="url" class="form-control" id="logo" name="logo" placeholder="Logo URL" ng-model="user.logoUrl" required>
                                        <p ng-show="viewUser.logo.$invalid && !viewUser.logo.$pristine" style="color:red;">Logo URL is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10">
                                        <select id="role" name="role" ng-model="user.roleId" class="form-control" required>
                                            <option value="">Role</option>
                                            <option value="1">Administrator</option>
                                            <option value="2">User</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10" ng-class="{true: 'error'}[submitted && viewUser.username.$invalid]">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="user.userName" required>
                                        <p ng-show="viewUser.username.$invalid && !viewUser.username.$pristine" style="color:red;">Username is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10" ng-class="{true: 'error'}[submitted && viewUser.password.$invalid]">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
                                        <p ng-show="viewUser.password.$invalid && !viewUser.password.$pristine" style="color:red;">Password is required.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10" ng-class="{true: 'error'}[submitted && viewUser.cPassword.$invalid]">
                                        <input type="password" class="form-control" id="cPassword" name="cPassword" ng-model="user.password" placeholder="Confirm Password" pw-check="password" required>
                                        <p ng-show="viewUser.cPassword.$invalid && !viewUser.cPassword.$pristine" style="color:red;">Passwords are not matching.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="radio" id="enable" name="enable" ng-value="true" ng-model="user.enable" style="margin-left:15px" ng-required="!user.enable" />Enable
                                    <input type="radio" id="enable" name="enable" ng-value="false" ng-model="user.enable" style="margin-left:96px" ng-required="!user.enable" />Disable
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="button" class="btn btn-default" ng-click="goBack()">Cancel</button>
                                        <button type="submit" class="btn btn-primary" ng-click="update()" ng-disabled="!viewUser.$valid">Update</button>
                                        <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    </div>

