
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Secure Token Server</title>

    <!-- Bootstrap core CSS -->
    <link href="Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">99X Product Suite</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="/">Token Server</a></li>
                            <li><a href="http://localhost:44552/index.html">Provisioning Server</a></li>
                            <li><a href="http://localhost:40838/index.html">Product Admin Console</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-user">&nbsp;</i>Sara, Lance</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-log-out">&nbsp;</i>Log Out</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">

        <br />

        <div class="bs-docs-section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1 id="container">Secure Token Server</h1>
                    </div>
                    <div class="bs-component">
                        <div class="jumbotron">
                            <h1>Token Server</h1>
                            <p>Token server authenticates the 99X Products Suite Tenants and Tenant Users. And authorizes the OAuth 2.0 client application requests. On successful authentication, client application will be provided with a claim based token.</p>
                            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="bs-docs-section">

            
            <div class="row">

                <div class="col-lg-4">
                    <div class="bs-component">
                        <h2>OAuth 2.0 based</h2>
                        <p>Token server is designed based on <a href="#">OAuth 2.0</a>. It can support all four types of the authentication flows for the client applications. New application flows also will be supported soon.</p>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="bs-component">
                        <h2>Claim based</h2>
                        <p>Secure token issues are claim based. It can be used with any of the 99X Product suite applications seemlessly while they are active. When expired, they can be renewed by exchanging a refresh key which was supplied along with the secure token.</p>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="bs-component">
                        <h2>Multitenant based</h2>
                        <p>Token server is based on multi tenancy. It can authenticate the users of different tenants and bundle the their tenant based access in secure token to use with other 99X Product suite applications.</p>
                    </div>

                </div>
                
                
            </div>

        </div>

        <br />


        <footer>
            <div class="row">
                <div class="col-lg-12">

                    <p>Provisioning Server is a part of <a href="http://www.99xtechnology.com" rel="nofollow">99X Product Suite</a>. Developed by <a href="http://www.99xtechnology.com" rel="nofollow">99X Technology</a>.</p>

                </div>
            </div>

        </footer>

    </div>

    <script src="Scripts/jquery/jquery.min.js"></script>
    <script src="Scripts/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
