
.image-circle{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #dddddd;
    margin: 10px;
}


.outter{
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 25px;
}

.scopelist {
    margin-top: 15px;
    margin-bottom: 15px;
}

.scope {
    font-size: 20px;
}
