   <section class="content-header">
        <h1 ng-show="!isFormMode">
            User Management
        </h1>
        <ol class="breadcrumb">
            <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#UserManagement"><i class="fa fa-users"></i>User Management</a></li>
        </ol>
   </section>

   <section class="content">
        <div ng-show="!isLogged">
            <h3>Please Login to Continue</h3>
        </div>
        <div ng-show="isLogged">
            <div>
                <a class="btn btn-info" href="#/UserManagement/CreateUser">Create New User</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Logo URL</th>
                        <th>Enable</th>
                        <th>Role</th>
                        <th>Tenant</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in users">
                    <tr>
                        <td> <span>{{user.id}}</span></td>
                        <td><span><img src="{{user.logoUrl}}" style="height:35px;width:35px" /></span></td>
                        <td> <span>{{user.name}}</span></td>
                        <td> <span>{{user.email}}</span></td>
                        <td> <span>{{user.logoUrl}}</span></td>
                        <td> <span>{{user.enable}}</span></td>
                        <td> <span>{{user.role}}</span></td>
                        <td> <span>{{user.tenant}}</span></td>
                        <td><span>{{user.userName}}</span></td>
                        <td> <a class="btn btn-warning" href="/#/UserManagement/{{user.id}}">Modify</a></td>
                    </tr>
                </tbody>
            </table>
     </div>
</section>


