<section class="content-header">
    <h1>
        Modify User
    </h1>
    <ol class="breadcrumb">
        <li><a href="#Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#UserManagement"><i class="fa fa-bookmark"></i> User Management</a></li>
        <li class="active">Modify User</li>
    </ol>
</section>

<section class="content">
    <div ng-show="!isLogged">
        <h3>Please Login to Continue</h3>
    </div>
    <div ng-show="isLogged">
        <form name="modifyUser">
            <div class="form-group" ng-class="{true: 'error'}[submitted && modifyUser.name.$invalid]">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="user.name" autofocus required>
                <p ng-show="modifyUser.name.$invalid && !modifyUser.name.$pristine" style="color:red;">Name is required.</p>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && modifyUser.email.$invalid]">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="user.email" required>
                <p ng-show="modifyUser.email.$invalid && !modifyUser.email.$pristine" style="color:red;">Email is required.</p>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && modifyUser.logo.$invalid]">
                <input type="url" class="form-control" id="logo" name="logo" placeholder="Logo URL" ng-model="user.logoUrl" required>
                <p ng-show="modifyUser.logo.$invalid && !modifyUser.logo.$pristine" style="color:red;">Logo URL is required.</p>
            </div>
            <div class="form-group">
                <select id="tenant" name="tenant" ng-model="user.tenantId" class="form-control" required>
                    <option value="">Tenant</option>
                    <option ng-repeat="tenant in tenants" value="{{tenant.id}}">{{tenant.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <select id="role" name="role" ng-model="user.roleId" class="form-control" required>
                    <option value="">Role</option>
                    <option value="1">Administrator</option>
                    <option value="2">User</option>
                </select>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && modifyUser.username.$invalid]">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="user.userName" ng-blur="isEditUsernameAvailable()" ng-focus="isUsernameInUse=false" required>
                <p ng-show="modifyUser.username.$invalid && !modifyUser.username.$pristine" style="color:red;">Username is required.</p>
                <p ng-show="isUsernameInUse && user.userName" style="color:red;">Username is already in use.</p>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && modifyUser.password.$invalid]">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
                <p ng-show="modifyUser.password.$invalid && !modifyUser.password.$pristine" style="color:red;">Password is required.</p>
            </div>
            <div class="form-group" ng-class="{true: 'error'}[submitted && modifyUser.cPassword.$invalid]">
                <input type="password" class="form-control" id="cPassword" name="cPassword" ng-model="user.password" placeholder="Confirm Password" pw-check="password" required>
                <p ng-show="modifyUser.cPassword.$invalid && !modifyUser.cPassword.$pristine" style="color:red;">Passwords are not matching.</p>
            </div>
            <div class="form-group">
                <input type="radio" id="enable" name="enable" ng-value="true" ng-model="user.enable" />Enable
                <input type="radio" id="enable" name="enable" ng-value="false" ng-model="user.enable" style="margin-left:62px" />Disable
            </div>
            <input type="submit" class="btn btn-success btn-lg" value="Update" ng-click="update();" ng-disabled="!modifyUser.$valid || isUsernameInUse" />
            <input type="button" class="btn btn-danger btn-lg" value="Delete" ng-click="delete();" />
            <input type="button" class="btn btn-primary btn-lg" value="Cancel" ng-click="goBack();" />
        </form>
    </div>
</section>
