<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Platform Project</title>
    <meta name="description" content="description">
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bower_components/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Content/css/style_v2.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <!-- bower:js -->
    <script src="~/bower_components/jquery/jquery.min.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="~/bower_components/angular-resource/angular-resource.js"></script>
    <script src="~/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-touch/angular-touch.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
    <script src="~/bower_components/angular-scenario/angular-scenario.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/bower_components/jquery.html5loader/src/jquery.html5Loader.js"></script>
    <script src="~/bower_components/toastr/toastr.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
    <!-- endbower -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower_components/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <script src="~/bower_components/tinymce/tinymce.min.js"></script>
    <script src="~/bower_components/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/App/common/shared/SharedFunctions.js"></script>
    <script src="~/App/common/notification/notify-custom.js"></script>
    <script src="~/App/common/localisation/Localisation.js"></script>
    <script src="~/App/common/sso/sso.js"></script>
    <script src="~/App/Wings.js"></script>
    <script src="~/App/common/shared/q.js"></script>
    <script src="~/App/common/asynchronous/Promises.js"></script>

    <!-- All functions for this theme + document.ready processing -->
    <script src="~/App/devoops.js"></script>
    <script src="~/App/app.js"></script>
    <script src="/App/sampleService/calculatorController.js"> </script>

    <script>
    var changeTheme = function (data) {
        if ($("#theme").attr("href") === "~/Content/css/style_v1.css") {
            $("#theme").attr("href", "~/Content/css/style_v2.css");
        } else {
            $("#theme").attr("href", "~/Content/css/style_v2.css");
        };
    };
    jQuery(document).ready(function () {
        if (SingleSignOnHandler.isLoggedIn() === true) {
            NotificationHandler.ViewSuccess("logged in");
            $("#signInButton").hide();
            var profile = SingleSignOnHandler.getProfile();
            $("#sso_name").text(profile.name);
            $("#sso_picture").attr('src', profile.picture);
            $("#sso_link").attr('href', profile.link);
            $("#singleSignOnDropDown").show();
            $("#singleSignOnProfile").show();
        } else {
            NotificationHandler.ViewError("Not logged in");
            $("#signInButton").show();
            $("#singleSignOnDropDown").hide();
            $("#singleSignOnProfile").hide();

        };
    });
    </script>

</body>
</html>
